@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

@font-face {
   font-family: "Florentia";
   src: url("./Florentia-Thin-trial.ttf");
}

.clearfix{
   clear: both;
}

body{
   margin: 0px;
   font-family: "Raleway", "Florentia", sans-serif;
}

.barra_superior{
   border-bottom: 1px solid rgb(204, 204, 204);
   color: rgb(187, 187, 187);
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 14px ;

}

.container{
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;  
}

nav{
   color: rgb(187, 187, 187);
   font-size: 12px;
   float: right;
   margin-top: 50px;
}

nav a{
   color:rgb(187, 187, 187);
   text-decoration: none;
}
nav a.btn_destaque{
   margin-left: 25px;
}

.btn_destaque, .metade input[type=submit]{
   border: none;
   background-color:  rgb(255, 77, 77);
   color: white;
   padding: 14px 40px;
   border-radius: 3px;
   font-size: 12px;
   text-decoration: none;
}

.sec01 {
   height: 550px;
   color: white;
   background-image: url(../Oticas/oticas.png);
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgb(164, 164, 164);
}

.sec01 p.titulo{
   font-size: 48px;
   padding-top: 130px;
}

.sec01 p{
   font-size: 24px;
   padding-bottom: 30px;
   line-height: 120% ;
}

.sec02{
   border-bottom: 1px solid rgb(204, 204, 204);
}

.sec02 p{
   font-size:20px;
   text-align: center
}

.sec02 img {
   width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sec03{
   background-color: rgb(239, 243, 249);
   background-image: url(../Oticas/home22.png);
   height: 665px;
   background-position: right;
   background-repeat: no-repeat;
}

.sec03 p{
   font-size: 54px;
   line-height: 120%;
   color: rgb(102, 102, 102);
   padding-top: 100px;
   padding-bottom: 40px;
}

.largura40{
   width: 100%;
   height: 100px;
}



.direitos_reservados{
   background-color: rgb(255, 77, 77);
   color: white;
   text-align: center;
   padding-top: 47px;
   padding-bottom: 47px;
   

}

.direitos_reservados a {
   color: white;
   text-decoration: none;
}



.um_terco{
   float: left;
   width: 33%;
   padding-bottom: 50px;
   padding-top: 30px;
   
}

.um_terco, .um_terco a{
   color: rgb(136, 136, 136);
   text-decoration: none;
   
} 

.um_terco .logo{
   width:100%;
}

.um_terco img{
   width: 10%;
}

.margem-esquerda{
      margin-left: 30px;
    
}

.sec_fale_onde{
height:500px;
background-color:#FAFAFA;
}

.metade{
   width: 50%;
   float: left;
   line-height: 150%;
   padding-top: 100px;
   color: rgb(120, 120, 120);
}

.metade div, .metade address{
   margin-left: 20px;
}

.metade form{
   line-height: 250%;
}

.metade form input[type=text], textarea, .modal input[type=text]{
   border: none;
   border-bottom: 1px solid lightgray;
   width: 63%;
   background-color:#FAFAFA;
   padding: 10px;
}

.metade textarea{
min-height: 100px;
}

.metade input[type=submit]{
  float: right;

}

.metade img{
   width: 25px;
}

.metade label{
   width: 30%;
   display:inline-block;
   vertical-align: top
}

.modal{
   display: none;
   position: fixed;
   width: 400px;
   min-height: 200px;
   background-color: white;
   top: 50%;
   margin-top: -100px;
   left: 50%;
   margin-left: -200px;
   padding: 20px;
   border-radius: 10px;
}

.modal input[type=text]{
   width: 95%;
}

.modal a{
   float: right;
   font-size: 24px;
   text-decoration:none;
   color: black;
   cursor: pointer;
} 

span.nao_valido{
   color: red;
   display: none;
}

input.nao_valido{
border-bottom: 1px solid red !important;
}

@media (min-width: 480px) and (max-width: 1366px){ 
   .barra_superior .container{
      margin-left: 20px;
      position: relative;
   }
}

@media (min-width: 480px) and (max-width: 1366px){ 
   .logo{
      width: 105%;
      position: relative;
   }
}

@media (min-width: 480px) and (max-width: 1366px){  
   nav{
      float: none;
      margin-top: 25px;
      margin-left: 20px;
      text-align: center;
   }
}

@media (min-width: 200px) and (max-width: 900px){
   .sec01{
      width: 150%;
      background-color: rgb(164, 164, 164);    
      background-image: none;
   }
}

@media (min-width: 200px) and (max-width: 900px){ 
   .sec01 p, .sec01, .btn_destaque{
      margin-left: 0px;
   }
}

@media (min-width: 200px) and (max-width: 900px){
   .sec03{

      border-bottom: 1px solid rgb(204, 204, 204);
      width: 150%;
      padding-top: 7px;
      background-color: rgb(239, 243, 249);
      background-image: none;
   }
}

@media (min-width: 200px) and (max-width: 900px){ 
   .sec03 p{
      padding-top: 5px;
   }
}
 
@media (min-width: 200px) and (max-width: 900px){
.sec03 .btn_destaque{
      margin-bottom: 30px;
   } 
}

@media (min-width: 200px) and (max-width: 900px){
   .sec03 .btn_destaque{
      margin-bottom: 20px;
   }
}

@media (min-width: 200px) and (max-width: 900px){
   .largura40{
      width: 100%;
      margin-left: 20px;
      height: 400px;
   }  
}

@media (min-width: 200px) and (max-width: 900px){
   .btn_destaque{
      margin: 20px;
      padding: 10px 14px;
   }
}

@media (min-width: 200px) and (max-width: 900px){
   .sec01 p{
      margin: 20px;
      }
   }

   @media (min-width: 200px) and (max-width: 900px){
   nav a.btn_destaque{
      float: none;
      margin-left: 3px;
      text-align: center;
      position: relative;

   }
}

@media (min-width: 200px) and (max-width: 900px){
   .sec02 img{
      width: 100%;
   }
}

@media (min-width: 200px) and (max-width: 900px){
   .direitos_reservados{
      position: relative;
   }
}

@media (min-width: 200px) and (max-width: 900px){
   .um_terco{
      padding-top: 15px;
      padding-bottom: 15px;
      float: none;
      text-align: center;
      width: auto;
   }
}

@media (min-width: 200px) and (max-width: 900px){ 
.sec01 p.titulo{
   font-size: 45px;
}
}

